body {
    font-family: 'Roboto', sans-serif;
}

/* NAV STYLE  */
nav {
    height: 75px;
    background-color: #ffc017;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 70%;
}
nav img {
    height: 25px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: baseline;
}
nav ul li {
    font-size: 14px;
    color: #242424;
    cursor: pointer;
}
nav ul li:nth-last-child(1){
    background-color: #191919;
    color: white;
    padding: 11px 21px;
    border-radius: 25px
}

/* HEADER STYLE  */
header {
    background-color: #ffc017;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    position: relative;
    top: 75px;
    margin-bottom: 75px;
}
header svg {

    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
    position: absolute;
    right: 0;
}
.headerContent {
    display: flex;
    flex-direction: column;
    height: 455px;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    width: 70%;
}
header h1 {
    font-size: 106px;
    font-family: 'Spectral';
    letter-spacing: -5.3px;
    line-height: 64px;
}
header p {
    font-size: 24px;
}
header button {
    padding: 8px 45px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    background-color: #191919;
    color: white;
    cursor: pointer;
}

/* SECTION STYLE  */
section {
    display: flex;
    justify-content: center;
    height: 346px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 50px;

}
.trendingPosts {
    width: 32.333%;
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}
.trendingPosts h5 {
    font-size: 32px;
    color: #f2f2f2;
    font-weight: 900;
   
}
.trendingContent {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}
.trendingTop {
    display: flex;
    align-items: center;
}
.trendingPostsGroup {
    display: flex;
    flex-wrap: wrap;
}
.trendingTitle {
    font-size: 16px;
    font-weight: 900;
}
.postBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 17px;

}
/* MAIN STYLE  */
.authorAndProfile {
    display: flex;
    align-items: center;
    gap: 10px;

}

.authorAndProfile img {
    height: 20px;
    border-radius: 50%;
}
.articleFooter {
    display: flex;
    justify-content: space-between;
}
.articles {
    display: flex;
    height: 134px;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.main {
    display: flex;
    justify-content: center;
    gap: 5%;
}
aside {
    width: 25%;
    display: flex;
    order: 1;
    flex-direction: column;
    height: 40vh;
    position: sticky;
    top: 109px;
    align-items: flex-start;
}
aside p {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.discoverMore {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 58px;
}
.discoverMore span {
    background-color: #f2f2f2;
    padding: 13px;
    border-radius: 25px;


}
#moreTopics {
    color: #1A8917;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    margin-block: 25px;

}
footer {
    display: flex;
    gap: 15px 44px;
    flex-wrap: wrap;
    padding-top: 25px;
    border-top: 1px solid #efefef;
}
footer a {
    color: #7c7c7c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
}
article {
    width: 40%;
}
.articlesBody h3 {
    font-size: 20px;
    font-weight: 800;
    
}
.articlesBody p {
    color: #6B6B6B;
    font-size: 16px;
}
.dateArticle {
    font-size: 12px;
    color: #6B6B6B;
}
.articlesBody {
    gap: 7px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.author {
    font-size: 13px;
    font-weight: 800;
    color: black;
}
.articleFooter span {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 25px;
}
.articleFooter p {
    font-size: 13px;
}
.articleFooter img {
    cursor: pointer;
    opacity: 0.5;
}
.articleFooter img:hover {
    cursor: pointer;
    opacity: 1;
}

.scrolled {
    background-color: white;
    transition: 1s;
}